<div id="about">
<h2>Volunteer Shortage</h2>

<p>Clinical trials are an important treatment option for cancer patients of all ages. Clinical trials can offer patients the most cutting-edge treatment, and can help bring new therapies to market. Yet, currently only about 3% of adults cancer patients will ever participate in a clinical trial. This low figure can drastically hinder the ability of researchers to get more treatments to patients. A large analysis of cancer clinical trials has found that 40% of trials failed to achieve minimum patient enrollment needed to proceed, and more than three-out-of-five critical late stage trials failed to do so. Further, according to the National Cancer Institute, if we were able to increase the average participation of adults in cancer clinical trials to even just 10%, studies could be completed in just one year, instead of the typical three-to-five as it stands currently.</p>

<p>Additionally, there is a wide disparity between patient populations who do participate in clinical trials, which can hinder the ability of the trial to accurately determine a potential new treatment’s effectiveness in the full population and among different groups of people. Consider that while only 3% of adult cancer patients take part in clinical trials, and only 10% of adolescents, more than 60% of patients under the age of 15 do enroll. Further, though roughly 50-60% of new cancer diagnoses are in people 65 or older, this age group accounts for just 25%-35% percent of participants in cancer drug trials.</p>

<p>Perhaps most discouraging, is that low income, racial/ethnic minorities, and people living in rural areas have the smallest percentage of clinical trial participation. </p>


<h2>Clinical Trials Overview</h2>

<p>Clinical trials are research studies that involve people, and are designed to test the most promising new treatments. These studies test new ways to prevent, detect, diagnose, or treat diseases and are a final and crucial step on the path to developing better treatments for brain tumor patients today. Most of today’s effective treatments for cancer are based on the results of clinical trial results.</p>

<p>Clinical trials happen in three phases:
<ul>
<li>Phase I: Determine maximum tolerated dose…how much, how safe, how often? </li>

<li>Phase II: Evaluate effectiveness…does it do any good?</li>

<li>Phase III: Compares a new treatment to the standard treatment to determine which is more effective…is the new treatment better?</li>
</ul>
</p>

<p>People participate in a clinical trial for a variety of reasons: to try a new and promising treatment method, to contribute to the development of future treatments, or to help find a cure. Most clinical trials require a patient to qualify with certain medical criteria. Some trials can be joined before your first surgery, others during radiation, and others at the point of recurrence.</p>

<p>Thus, no matter how much funding and effort are put into finding new and better treatment for brain tumors, research cannot move forward toward approval for use without the help of clinical trial participants. In addition, clinical trials increase access to state-of-the-art cancer care, and a number of studies have suggested that clinical trial participation is associated with improved outcomes and better treatment of cancer patients.</p>

<p>Yet, only 15% of all cancer patients are told about the option of receiving treatment through a clinical trial. So patients should be sure to be proactive and ask your doctor if you are eligible for a trial, or get a second opinion at any time.</p>


<h2>Clinical Trial Connector</h2>
<p>To help patients who haven’t been offered advice on potential clinical trials that they could benefit from become aware of the options available to them, the National Brain Tumor Society has launched its Clinical Trial Connector for patients to search opportunities that currently exist to enroll in clinical trials. Get started by clicking the button below.</p>


<%= link_to "Browse Trials", trials_path, class: "btn btn-orange" %>
<br>
<br>
<br>
<br>
</div>
