<div id="about">
<h2>Overview</h2>

<p>Clinical trials are an important treatment option for cancer patients of all ages. Clinical trials can offer patients the most cutting-edge treatment, and can help bring new therapies to market. National Brain Tumor Society's Clinical Trial Connector is an online tool to help patients find clinical trials that are right for them. You can browse brain tumor trials and filter these based on medical history, location, and age. Coming soon - you will be able to register so that you can keep informed of trials opening in your area. Also, visit the Clinical Trial Blog for updates on existing trials and the openings of new trials.</p>


<%= link_to "Clinical Trial Connector", trials_path, class: "btn btn-orange" %>
<br>
<br>
<br>
<br>
</div>
